body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin-top: 10px;
  width: 30%;
  background-color: black;
}

.btn {
  width: 55px;
  padding: 20px;
  margin-left: 15px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  border-color: aqua;
  text-align: center;
  text-decoration: solid;
}

.form-control {
  text-align: right;
  font-weight: 1000;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.form {
  margin-top: 10px;
  padding: 10px;
}
